<!DOCTYPE html>
<html>
<head>
	<title>Mekansal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.0.1/ol.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.0.1/ol.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>


<div id="map"></div>
<button id="yapiCreate" style="">Tıkla</button>
<table id="yapiTable" style="position: absolute;">
	<% attr.forEach(function(att){ %>
		<tr>
			<td><%-att%>: </td>
			<td><input type="text" name="<%-att%>"></td>
		</tr>
	<% }) %>
</table>

<script type="text/javascript">
	var map = new ol.Map({
		target: 'map',
		layers: [
		    basemap= new ol.layer.Tile({
		    	source: new ol.source.OSM()
		    })
		],
	    view: new ol.View({
	    	projection: 'EPSG:4326',
	     	center: [29.107,40.966], //ol.proj.fromLonLat([26.96, 39.59]),
	     	zoom: 18
	    }),
	    controls: ol.control.defaults({
          zoom: true,
          attribution: false,
          rotate: false
        })
	});
	map.addControl(new ol.control.MousePosition());


    <% tables.forEach(function(table) { %>
    	//Layers
    	var <%=table%>Features = new ol.Feature({});
    	var <%=table%>Source  = new ol.source.Vector({
    		features: <%=table%>Features
    	});
    	var <%=table%>Layer = new ol.layer.Vector({
    		projection: 'EPSG:4326',
    		source: <%=table%>Source
    	});
    	map.addLayer(<%=table%>Layer);

    	//Popups
    	var <%=table%>Table= $("#<%=table%>Table")[0]
    	var <%=table%>Popup = new ol.Overlay (({
    		element: <%=table%>Table
    	}));
    	map.addOverlay(<%=table%>Popup);
    <%});%>
</script>

<script type="text/javascript">
	var socket=io();
	map.on("moveend",function(){
		<% tables.forEach(function(table){ %>
			
			socket.emit('get<%-table%>',map.getView().calculateExtent());
		<% }); %>
		//socket.emit('bbox', map.getView().calculateExtent());
		//$("#bina").find(".circle.loading.icon").addClass("notched");
	});
	<%tables.forEach(function(table){ %>
		socket.on('draw<%-table%>',function(data){
			console.log(data);
			<%=table%>Features=new ol.format.GeoJSON().readFeatures(data);
			<%=table%>Source.clear();
			<%=table%>Source.addFeatures(<%=table%>Features);
		});
	<% }); %>
	
</script>

<script type="text/javascript">
	<%tables.forEach(function(table){ %>
		var <%-table%>Draw= new ol.interaction.Draw({
			source: <%=table%>Source,
			type: 'Polygon'
			//only draw when Ctrl is pressed.
    		//condition : ol.events.condition.platformModifierKeyOnly
		});
		$("#<%-table%>Create").on('click',function(){
			map.addInteraction(<%-table%>Draw);
			<%-table%>Draw.on('drawend',function(event){
				console.log('OK');
					map.on( "dblclick", function (e) {
					   if ( <%-table%>Draw ) {
					       return false;
					   }
					});
				map.removeInteraction(<%-table%>Draw);
				
			});

		});
		
	<% }); %>

</script>
</body>
</html>